{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_header_wrapper %}
    <section class="align-items-center">
<h1 class="text-center">NewsLetter</h1>
    {{ form(form) }}
    </section>
{% endblock %}
{% block content_footer_wrapper %}{% endblock %}